.btn {
    background-color: yellow;
    padding: 15px, 20px;
    margin-bottom: 10px;
}
.wrapper{
    border: solid 1px red;
    height: 400px;
    width: 400px;
}
.box {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: relative;
}
button {
    height: 40px;
    width: 100px;
    background-color: yellow;
}
.btn-block {
    width: 700px;
    background-color: #373737;
}